<div class="trillo-form" name="EditTask" nm="EditTask">
  <form data-container="">
    <div data-child-type="text" class="form-group">
      <label data-label="">Title</label>
      <input data-input="" type="text" class="form-control" nm="title">
    </div>
    <div data-child-type="text" class="form-group">
      <label data-label="">Description</label>
      <input data-input="" type="text" class="form-control" nm="description">
    </div>
    <button data-child-type="button" type="button" class="btn btn-primary" nm="cancel" name="cancel">
      Cancel
    </button>
    <button data-child-type="submit" type="submit" class="btn btn-primary" nm="submit" name="submit">
      Submit
    </button>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>