<div class="trillo-table" name="TaskList" nm="TaskList">
  <table data-container="" class="table">
    <thead>
      <tr data-table-header="">
        <th>
          Title
        </th>
        <th>
          Description
        </th>
        <th>
          Edit
        </th>
      </tr>
    </thead>
    <tbody>
      <tr data-table-row="">
        <td data-child-type="readonly" nm="title" data-field-type="readonly">
        </td>
        <td data-child-type="readonly" nm="description" data-field-type="readonly">
        </td>
        <td data-child-type="button" nm="edit">
          <button type="button" class="btn btn-primary" name="edit" nm="edit">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>